<%= form_with(model: @cast, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :character_id %>

    <%= f.collection_select :character_id, Character.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :movie_id %>

    <%= f.collection_select :movie_id, Movie.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :actors_id, value: @actor.id %>

  <%= f.submit "Create cast", class: "btn btn-block btn-outline-secondary" %>
<% end %>
