<div class="card mb-3">
  <h2 class="card-header h4">
    Cast #<%= cast.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Character</dt>
      <!-- Display character_id start -->
      <dd><%= cast.character_id %></dd>
      <!-- Display character_id end -->

      <dt>Movie</dt>
      <!-- Display movie_id start -->
      <dd><%= cast.movie_id %></dd>
      <!-- Display movie_id end -->

      <dt>Actors</dt>
      <!-- Display actors_id start -->
      <dd><%= cast.actors_id %></dd>
      <!-- Display actors_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back cast, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link cast start -->
      <div class="col">
        <%= link_to edit_cast_url(cast), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link cast end -->

      <!-- Delete link cast start -->
      <div class="col">
        <%= link_to cast, method: :delete, data: { confirm: "Do you really want to delete this cast?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link cast end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(cast.updated_at) %> ago
  </div>
</div>
